* {
	box-sizing: border-box;
}

button:focus {
	outline: none;
}



.container {
	display: block;
	max-width: 85%;
	margin: 0 auto; 
    padding-right: 15px;
    padding-left: 15px; 

}

html {
	font-size: 10px;
}

body {
	font-family: 'Open Sans', sans-serif;
}

h2 {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 8rem;
	font-weight: 500;
	letter-spacing: 3px;
	color: #fff;
}

h3 {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 2.4rem;
	font-weight: 500;
	letter-spacing: 2px;
	color: #fff;
}

h4 {
	font-family: 'Bebas Neue', sans-serif;
}



							/* HEADER */

.header {
	display: inline-block;
	background: url(../img/bgimage1.jpg) center no-repeat;
	min-height: 950px; 
	padding-bottom:60px;
	background-size: cover;
	width: 100%;
	background-color: #000;
	position: relative;
	opacity: 1;
	z-index: 5;
}

.header::after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: cover;
	background-image: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%);
	opacity:0.8;
	z-index: -1;
}

.main {
	padding-top: 2rem;
	display: flex;
}

.main li {
	list-style: none;	
}

.main a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 1.4rem;
	font-weight: 700;
	text-transform: uppercase;
}

.main a:hover {
	color: #FFB548;
	transition: ease-in-out 0.3s;
}

.main-link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 60%;
	margin-left: 20rem;
}

.ul-link {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.drop-lang {
	width: 20%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
}

.drop-lang::after {
	content: '';
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	background: url(../img/Vectordown.svg) center no-repeat;
	right: -5px;
	cursor: pointer;
}

.drop-lang::before {
	content: '';
	display: block;
	position: absolute;
	height: 30px;
	opacity: 0.5;
	border: 0.873968px solid #FFFFFF;
	right: -20px;

}



/* Dropdown Button */
.dropbtn {
	background: none;
    color: #FFF;
    padding: 1.6rem;
    font-size: 1.4rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    left: 10px;
    opacity: 0.7;
    background-color: #000;
    min-width: 45px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #FFFFFF;
    opacity: 1;
    padding: 0.7rem 0.5rem;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	color: #FFB548;
	transition: ease-in-out .3s;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content  {
	display: block;
}

.drop-menu {
	width: 10%;
	display: flex;
	align-items: center;
	justify-content: center;

}

.drop-menu img {
	width: 30px;
	height: 30px;
}

.game-icon {
	display: flex;
	align-items: center;
	width: 15%;
	justify-content: flex-end;
}

.game-icon img {
	margin: 0 5px;
	cursor: pointer;
}

.game-icon img:hover {
	opacity: 0.7;
	transition: ease-in-out .3s;
}

.steam {
	width: 37px;
	height: 37px;
	background-size: cover;
}

							/* HEADER_TITLE */

.title {
	margin-top: 25rem;
	display: flex;
	width: 100%;
	min-height: 230px;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.title h1 {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 8rem;
	letter-spacing: 3px;
	color: #FFF;
	font-weight: 500;
}

.title p {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 2.4rem;
	color: #FFF;
	letter-spacing: 2px;
}

.buy-btn {
	position: relative;
	margin-top: 30px;
	width: 260px;
	height: 60px;
	border: none;
	background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
	border-radius: 4px;
	color: #1A1917; 
	font-size: 1.6rem;
	font-weight: 700;
}

.buy-btn:hover {
	opacity: 0.6;
	transition: ease-in-out .3s;
}

.buy-btn span {
	margin-left: 20px;
}

.buy-btn::after {
	content: '';
	display: block;
	position: absolute;
	height: 23px;
	opacity: 0.5;
	border: 0.873968px solid #1A1917;
	left: 176px;
	top: 17px;
}

.arrow-scroll {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin-top: 360px;
	cursor: pointer;

}

.arrow-scroll p {
	font-size: 1.2rem;
	text-transform: uppercase;
	color: #FFF;
	font-weight: 700;
}

.scroll-btn {
	background: none;
	border:none;
	margin-top: 5px;
}

.arrow-scroll:hover {
	opacity: 0.6;
	display: flex;
	transition: ease-in-out .3s;

}


								/* ABOUT */

.about {
	display: inline-block;
	background: url(../img/bgimage2.jpg) no-repeat center;
	width: 100%;
	min-height:1050px;
	background-color: #000;
	position: relative;
	z-index: 5;
}

.about::after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: cover;
	background-image: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080A0B 99.74%);
	opacity:0.9;
	z-index: -1;
}

.about-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about-text {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.about-text h3 {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 2.4rem;
	font-weight: 500;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 260px;
	margin-bottom: 10px;
}

.about-text h2 {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 8rem;
	font-weight: 500;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 70px;
	position: relative;
}

.about-text h2::after {
	content: '';
	position: absolute;
	display: block;
	width: 600px;
	height: 3px;
	left: 0%;
	top: 170px;
	background-color: #fff;
	border-radius: 4px;
}


.about-text p {
	font-size: 18px;
	font-weight: 400;
	color: #FFFFFF;
	width: 50%;
	line-height: 22px;
	margin-left: 200px;
}

.photo-slider {
	display: flex;
	width: 50%;
	margin-top: 190px;
	margin-left: 300px;

}
.fotorama {
	border-radius: 20px;
}


							/* FEATURES */


.features {
	display:inline-block;
	background-color: #000;
	background:url(../img/bgimage3.png) center no-repeat;
	background-size: cover;
	position: relative;
	min-height: 870px;
	width: 100%;
	z-index: 5;
}

.features::after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: cover;
	background-image: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%);
	opacity:0.8;
	z-index: 4;
}

.features-block {
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end; 
}

.features-text h3 {
	font-size: 2.4rem;
	font-weight: 500;
	color: #fff;
	letter-spacing: 2px;
	margin-bottom: 10px;
	margin-top: 170px;
	margin-right: 270px;
}

.features-text h2 {
	font-size: 8rem;
	font-weight: 500;
	color: #fff;
	letter-spacing: 3px;
	margin-bottom: 70px;
}

								/* ACCORD */

.acor-container {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
   	align-items: flex-end;
}
.acor-container .acor-body {
    width: 60%;
    height: 0;
    color: #FFF;
    line-height: 18px;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
    font-size: 18px;
    font-weight: 400;
}

.acor-body {
	display: flex;
	justify-content: flex-end;

}

.acor-container .acor-body p {
	width: 70%;
	line-height: 22px;

}
.acor-container label {
	font-family: 'Bebas Neue', sans-serif;
    cursor: pointer;
    position: relative;
    display: block;
    padding: 15px 20px;
    width: 50%;
    color: #FFB548;
    font-weight: 300;
    z-index: 100;  
    font-size: 36px;
    margin: 0 0 5px;
    letter-spacing: 2px;
    transition: color .35s;
    text-align: right;
}

.acor-container label::before {
	content: '';
	position: absolute;
	display: block;
	width: 14px;
	height: 14px;
	border: 1px solid #fff;
	border-radius: 50%;
}

.acor-container input:checked + label:before {
	background-color: #fff;
}


.acor-container label:hover {
    color: #FFF;
}
.acor-container input{
    display: none;
}

.acor-container input:checked + label {
   	color: #FFB548;
}

.acor-container input:checked + label + .acor-body {
    height: auto;
    color: #FFF; 
}

								/* SYSTEM */

.system {
	display: inline-block;
	width: 100%;
	background: url(../img/bgimage4.png)center no-repeat;
	background-size: cover;
	background-color: #000;
	min-height: 950px;
	position: relative;
	z-index: 6;
}

.system::after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: cover;
	background-image: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%);
	opacity:0.8;
	z-index: -1;
}

.system-text {
	display: block;
	text-align: center;
}

.system-text h3 {
	font-size: 2.4rem;
	font-weight: 500;
	color: #fff;
	letter-spacing: 2px;
	margin-top: 150px;
	margin-bottom: 10px;
}

.system-text h2 {
	font-size: 8rem;
	font-weight: 500;
	color: #fff;
	letter-spacing: 3px;
	margin-bottom: 140px;
}

.sys-req {
	display: flex;
	flex-direction: column;
	width: 50%;
}


.sys-block1 {
	display: flex;
}

.sys-block2 {
	display: flex;
}

.sys-req-block {
	width: 40%;
	border: 1px solid #979797;
	padding: 50px;
}

.odd {
	width: 80%;
}

.sys-req-block h4 {
	font-size: 2.4rem;
	color: #FFB548;
	font-weight: 500;
	letter-spacing: 2px;
	margin-bottom: 7px;
}

.sys-req-block p {
	font-size: 1.8rem;
	color: #FFF;
	font-weight: 400;
}


								/* QUOTES */

.quotes {
	display: inline-block;
	width: 100%;
	background: url(../img/bgimage5.png)center no-repeat;
	background-size: cover;
	background-color: #000;
	min-height: 960px;
	position: relative;
	z-index: 6;
}

.quotes::after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: cover;
	background-image: background: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080A0B 99.74%);
	opacity:0.8;
	z-index: -1;
}

.quotes h3 {
	margin-bottom: 10px;
}

.quotes h2 {
	margin-bottom: 50px;
}

.quotes p {

	font-size: 1.8rem;
	font-weight: 400;
	line-height: 2.2rem;
	color: #fff;
	width: 60%;
}

.quotes-block {
	display: flex;
	align-items: center;
	height: 100%;
}

.quotes-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;

}

.read-btn {
	margin-top: 100px;
	width: 260px;
	height: 60px;
	border: none;
	background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
	border-radius: 4px;
	color: #1A1917; 
	font-size: 1.6rem;
	font-weight: 700;
}

.read-btn:hover {
	opacity: 0.6;
	transition: ease-in-out .3s;
}

.quotes-feed {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	padding: 100px 0;

}


.qutes-feed-block {
	display: block;
	background: rgba(255, 255, 255, 0.08);
	border-radius: 10px;
	margin: 30px 0;
}

.quotes-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.qutes-feed-block {
	width: 450px;
	height: 180px;
	padding: 15px;

}

.quotes-feed-title h5 {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 2.4rem;
	color: #FFB548;
	font-weight: 500;
	letter-spacing: 2px;
}

.quotes-feed-title h6 {
	font-size: 1.8rem;
	color: #FFF;
	font-weight: 400;
	opacity: 0.5;
}


.pic {
	border-radius: 50%;
	width: 70%;
}

.pic-size {
 	width: 100%;
}

.quotes-feed-text {
	display: flex;
	flex-direction: column;
}

.quotes-feed-text p {
	width: 90%;
	margin: 20px 0 6px;
}

.quotes-feed-text span {
	font-size: 1.4rem;
	color: #fff;
	font-weight: 400;
	opacity: 0.5;
}

.feed-center {
	margin-left: 200px;
}


							/* NEWSLALTER */


.news {
	width: 100%;
	min-height: 600px;
	background-color: #000;
}

.news-block {
	display: flex;
	align-items: center;
	height: 100%;
}

.new-image-block {
	margin-top: 100px;
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
}

.new-image-block img {
	border-radius: 20px;
}

.new-text-block {
	display:flex;
	flex-direction: column;
	align-items: flex-end;
	width: 100%; 
}

.news-text {
	display: flex;
	flex-direction: column;
	width: 65%;
}

.news-text h3 {
	margin-bottom: 10px;
}

.news-text h2 {
	margin-bottom: 50px;

}


.news-text p {
	font-size: 1.8rem;
	line-height: 22px;
	font-weight: 400;
	color: #fff;
	width: 100%;
}

.new-input-block {
	width: 65%;

}

.input {
	width: 50%;
	height: 64px;
	background: rgba(255, 255, 255, 0.08);
	border-radius: 5px;
	border:none;
	margin-right: 17px;
	padding: 15px;
	font-size: 1.8rem;
	line-height: 20px;
	color: #FFB548;
}

.input[placeholder] {
	font-size: 1.4rem;
}

								/* FOOTER */

.footer {
	width: 100%;
	min-height: 200px;
	background-color: #000;
}

.footer-link {
	width: 20%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.footer-link a {
	margin-left: 50px;
}

.footer-line {
	width: 100%;
	height: 0;
	opacity: 0.5;
	border: 0.873968px solid #FFFFFF;
	margin-top: 30px;
}

.footer-row	{
	display: flex;
	justify-content: space-between;
	margin: 25px 0;
}

.footer-text p {
	font-size: 1.4rem;
	line-height: 20px;
	font-weight: 400;
	color: #FFF;
	opacity: 0.5;
}

.footer-text {
	text-align: center;
}

.footer-link {
	width: 40%;
}

.footer-link a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.2rem;
	letter-spacing: 10%;
	font-weight: 500;
}



