//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: Open Sans, sans-serif;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1390px;
$md1: $maxWidthContainer + 12px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: #333333;
	font-size: 14px;
	line-height: 142%;
	background: #ffffff;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer;
	margin: 0 auto;
	@media (max-width: $md1) {
		max-width: 970px;
	}
	@media (max-width: $md2) {
		max-width: 750px;
		padding: 0;
	}
	@media (max-width: $md3) {
		max-width: none;
		padding: 0;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================

.header {
	position: fixed;
	z-index: 50;
	width: 100%;
	top: 0;
	left: 0;
	min-height: 40px;
	margin: 0 0 24px 0;
	width: 100%;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	background-color: #ffffff;

	&__container {
		padding: 10px 0 10px 0;
	}

	&__row {
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		font-size: 22px;
		font-weight: 700;
	}
}

.header_hidden {
	transition: all 0.5s ease-in-out 0s;
	transform: translateY(-600%);
}

.header::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.menu {
	&__list {
		display: flex;
	}

	&__item {
		margin: 0 20px 0 0;
	}
	&__item:last-child {
		margin: 0;
	}
}
.header__burger {
	display: none;
}

.burger__list {
	position: fixed;
	top: -100%;
	left: 0;
	width: 100%;
	max-height: 375px;
	display: flex;
	flex-direction: column;
	transition: all 0.5s ease 0s;
	padding: 80px 30px 43px 30px;
	background: #ffffff;
}

.burger__list.active {
	top: 0;
}
.burger__link {
	font-size: 12px;
	text-transform: uppercase;
	color: #333333;
}

.burger__item:not(:last-child) {
	margin: 0 0 20px 0;
}

@media (max-width: $md3) {
	.header {
		&__container {
			padding: 10px 23px 10px 23px;
		}
	}
	.menu {
		&__list {
			margin: 0 30px 0 0;
		}
		&__item:last-child {
			margin: 0;
		}
	}
	.header__burger {
		display: block;
		position: relative;
	}
}

@media (max-width: $md4) {
	.menu {
		&__list {
			margin: 0 30px 0 0;
		}
		&__item {
			margin: 0 20px 0 0;
		}
	}
}

.icon-menu {
	display: none;
	@media (max-width: $md3) {
		display: block;
		position: absolute;
		top: 5px;
		right: 10px;
		width: 22px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&.active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}

//</main>====================================================================================================

.main {
	padding: 64px 0 25px 0;
}
.main__body {
	display: flex;
}
.main__img {
	position: relative;
	flex: 0 1 50%;
}
.main__img img {
	width: 100%;
}

.main__img-block {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 10%;
	height: 100%;
	top: 26px;
	left: 24px;
}

.main__img-mini {
	cursor: pointer;
}

.main__img-mini:not(:last-child) {
	margin: 0 0 7px 0;
}

#main {
	width: 100%;
}

.main__item {
	flex: 0 1 50%;
	padding: 0 0 0 36px;
	letter-spacing: 0.04em;
}
.item__main-title {
	font-weight: 600;
	font-size: 18px;
	margin: 0 0 8px 0;
}
.item__main-articl {
	font-size: 12px;
	color: #828282;
}
.item__main-feedback {
	display: flex;
	align-items: center;
	padding: 10px 0;
	margin: 0 0 36px 0;
}
.feedback-text {
	margin: 0 13px 0 0;
}
.feedback-img {
	display: flex;
	align-items: center;
}

.feedback-img:not(:last-child) {
	margin: 0 2px 0 0;
}

.feedback-all {
	margin: 0 8px 0 5px;
}
.item__main-prices {
	display: flex;
	margin: 0 0 15px 0;
}
.prices-bold {
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	margin: 0 12px 0 0;
}
.prices-cross {
	text-decoration: line-through;
	color: #828282;
	margin: 0 20px 0 0;
}

.prices-img {
	display: flex;
	align-items: center;
}
.item__main-sales {
	display: flex;
	align-items: center;
	margin: 0 0 40px 0;
}
.sales-body {
	font-size: 12px;
	border: 1px solid #333333;
	padding: 4px 8px;
}
.sales-body:not(:last-child) {
	margin: 0 15px 0 0;
}

.form__choosing {
	border: 1px solid #333333;
	width: 315px;
	height: 44px;
	padding: 0 20px;
	margin: 0 0 24px 0;
}

.form__text {
	text-decoration: underline;
	margin: 0 0 40px 0;
}
.form__add {
	display: flex;
	margin: 0 0 12px 0;
}
.number {
	user-select: none;
	position: relative;
	text-align: left;
	padding: 0;
	width: 145px;
	height: 44px;
	border: 1px solid #ddd;
	display: flex;
	align-items: center;
	background: #f2f2f2;
	margin: 0 12px 0 0;
}
.number-minus,
.number-plus {
	position: absolute;
	top: 5px;
	display: block;
	width: 40px;
	height: 32px;
	line-height: 32px;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	font-family: arial;
	color: #3e1e02;
	text-decoration: none;
	background: #f2f2f2;
}
.number-minus {
	left: 0;
}
.number-plus {
	right: 0;
}

.number-text {
	display: inline-block;
	font-size: 14px;
	color: #000;
	line-height: 32px;
	height: 32px;
	padding: 0;
	margin: 0 0 0 42px;
	outline: none;
	border: none;
	width: 57px;
	text-align: center;
	background: #f2f2f2;
}

.button-block {
	display: flex;
}

.form__button {
	background: #333333;
	border: 1px solid #333333;
	color: #ffffff;
	padding: 0 20px;
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.form__button:hover {
	opacity: 0.5;
}

.form__button:not(:last-child) {
	margin: 0 4px 0 0;
}
.button {
	min-height: 44px;
}

.form__button-favorite {
	padding: 0 15px;
}

.form__buy {
	text-decoration-line: underline;
	margin: 0 0 53px 0;
	cursor: pointer;
}

.desc__item {
	display: flex;
	align-items: center;
	justify-content: start;
}
.desc__item img {
	margin: 0 5px 0 0;
	width: 5%;
}

.desc__item:not(:last-child) {
	margin: 0 0 12px 0;
}

@media (max-width: $md2) {
	.number-text {
		margin: 0 0 0 30px;
	}
	.button {
		height: 44px;
	}
}

@media (max-width: $md3) {
	.number {
		margin: 0 14px 15px 0;
	}
	.number-text {
		margin: 0 0 0 40px;
	}
	.main__body {
		flex-direction: column;
	}
	.main__img {
		flex: 0 1 100%;
		margin: 0 0 25px 0;
	}
	.main__item {
		flex: 0 1 100%;
		padding: 0 20px;
		letter-spacing: 0.04em;
	}
	.form__choosing {
		width: 315px;
	}
	.form__add {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
}

@media (max-width: 360px) {
	.form__choosing {
		width: 280px;
	}
}

//</PHOTOS>====================================================================================================

.photo {
	padding: 0 0 120px 0;
	&__title {
		text-align: center;
		margin: 0 0 25px 0;
		text-decoration: underline;
		cursor: pointer;
	}

	&__body {
		display: flex;
		flex-wrap: wrap;
		position: relative;
	}
	.col {
		cursor: pointer;
	}

	.col img {
		width: 100%;
	}

	&__body-column1 {
		flex: 0 1 50%;
	}

	&__body-column2 {
		flex: 0 1 25%;
	}

	&__body-column3 {
		flex: 0 1 25%;
	}
	.photo__shell {
		position: relative;
		z-index: 2;
		padding: 8px;
		transition: all 0.3s ease 0s;
		span {
			display: none;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			right: 0;
			background: #333333;
			opacity: 0.7;
			z-index: 5;
			.fullscreen {
				position: absolute;
				width: 10%;
				height: 10%;
				top: 15px;
				right: 15px;
			}
			.bag {
				position: absolute;
				width: 10%;
				top: 40%;
				left: 45%;
				z-index: 5;
			}

			.bag__text {
				position: absolute;
			}

			.heart {
				position: absolute;
				width: 24px;
				height: 24px;
				top: 85%;
				left: 42%;
				z-index: 5;
			}
		}
	}

	.photo__shell:hover {
		position: relative;
		width: 100%;
		z-index: 3;
		padding: 0;
		span {
			display: block;
		}
	}

	//------------------------------------

	//------------------------------------
}

@media (max-width: 1403px) {
	.photo {
		&__body {
			align-items: center;
			justify-content: center;
		}
		&__body-column1 {
			flex: 0 1 100%;
		}

		&__body-column2 {
			flex: 0 1 50%;
		}
		&__body-column3 {
			flex: 0 1 50%;
		}
	}
}

@media (max-width: $md2) {
	.photo {
		&__body {
			margin: 0 -8px;
		}
	}
}

@media (max-width: 670px) {
	.photo {
		&__body-column2 {
			flex: 0 1 50%;
		}
		&__body-column3 {
			flex: 0 1 50%;
		}
	}
}

//</footer>====================================================================================================

.footer {
	padding: 0 0 70px 0;
}
.footer__body {
	display: flex;
	flex-wrap: wrap;
}
.footer__itmes {
	flex: 0 1 33.333%;
}
.footer__menu:not(:last-child) {
	margin: 0 0 8px 0;
}
.footer__title {
	font-size: 16px;
	text-transform: uppercase;
	margin: 0 0 16px 0;
}
.menu__item {
	color: #333333;
}

.footer__form {
	display: flex;
	flex-direction: column;
}

.footer__input {
	min-height: 44px;
	max-width: 452px;
	border-bottom: 1px solid #c4c4c4;
	padding: 0 15px;
	margin: 0 0 35px 0;
}
.footer__button {
	border: 1px solid #333333;
	padding: 8px 28px;
	max-width: 150px;
	transition: all 0.3s ease 0s;
}

.footer__button:hover {
	background-color: #333333;
	color: #ffffff;
}

@media (max-width: $md3) {
	.footer__container {
		padding: 0 20px;
	}

	.footer__m {
		flex: 0 1 50%;
	}
	.footer__s {
		flex: 0 1 100%;
		margin: 58px 0 0 0;
	}
}
