@media (max-width: 1440px) {
	.container-my {
		max-width: 1140px;
		margin: 0 auto;
	}

	.header-modern h1 {
		font-size: 62px;
	}

	.header-modern p {
		font-size: 16px;
	}

	.box-img1 {
		display: block;
		min-width: 517px;
		height: 456px;

	}

	.img-page {
		background-size: 100%;
		width: 110%;
		display: block;
		margin: 0 auto; 
	}

	.box-img2 {
		display: block;
		width: 620px;
		height: 656px;
	}


	.about-title h2 {
		margin-left: 20px;
	}

	.about-title h3 {
		font-size: 40px;
		margin-left: 20px;
	}

	.about-title p {
		font-size: 16px;
		margin-left: 20px;
	}

	.about-title button {
		margin-left: 20px;
	}	


	.box-img3 {
		display: block;
		width: 550px;
		height: 600px;

	}

	.read-more h3 {
		font-size: 40px;
	}

	.read-more img {
		width: 550px;
		height: 600px;
	}

	.roadmap h3 {
		font-size: 40px;
	}

	.roadmap-icon img {
		margin-top: 100px;
		width: 120px;
		height: 86px;
	}

	.roadmap-icon {

	}

	.dots::after {
		left: 400px;
	}

	.dots:hover:after {
		left: 400px;
	}

	.clients-title h3 {
		font-size: 40px;

	}

	.clients-title h4 {
		font-size: 16px;
		
	}

	.clients-block span {
		font-size: 12px;
	}

	.clients-block h3 {
		padding-left: 40px;
	}

	.clients-block p {
		font-size: 16px;
		padding-left: 40px;
	}

	.news-title h3 {
		font-size: 40px;
	}

	.img-page-news {
		width: 450px;
	}

	.border-page-news {
		width: 450px;
		height: 310px;
	}

	.blog h4 {
		font-size: 26px;
	}

	.blog p {
		font-size: 16px;
	}

	.block-sign input {
		width: 540px;
	}

	.quick-links-icons li {
		margin-left: 5px;
	}
}

@media (max-width: 1024px) {
	.container-my {
		max-width: 90%;
		margin: 0 auto;
	}

	.header-modern h1 {
		font-size: 50px;
		line-height: 1.2;
	}

	.header-modern p {
		font-size: 14px;
	}

	.box-img1 {
		display: block;
		min-width: 400px;
		height: 350px;
	}

	.img-page {
	background-size: 100%;
	display: block;
	margin: 0 auto; 
	z-index: 2;
	position: absolute;
	border-radius: 80px 0;
	cursor: pointer;
	}

	.border-page1 {
		border-radius: 80px 0;
	}
				/**/
	.menu-link {
		
	}

	.menu-link a {
	
	}

	.service-our {
		font-size: 40px;
	}

	.box-img2 {
		height: 540px;
		width: 500px;
	}

	.border-page2 {
		border-radius: 80px 0;
	}

	.about-title h3 {
		font-size: 28px;
	}

	.about-title p {
		font-size: 14px;
	}

	.read-more h3 {
		font-size: 30px;
	}

	.read-more img {
		width: 100%;
		height: 100%;
	}

	.box-img3 {
		height: 450px;
		width: 400px;
	}

	.border-page3 {
		border-radius: 80px 0;
	}

	.read-more h3 {
		font-size: 40px;
	}

	.read-more img {
		width: 400px;
		height: 450px;
	}

	.roadmap h3 {
		font-size: 40px;
	}


	.roadmap-icon img {
		margin-top: 100px;
		width: 80px;
		height: 86px;
	}

	.road-block strong {
		font-size: 35px;
	}

	.road-block span {
		font-size: 14px;
	}

	.road-block {
		height: 140px;
	}

	.clients-title h3 {
		font-size: 32px;
	}


	.clients-block span {
		font-size: 10px;
	}

	.clients-block h3 {
		font-size: 20px;
		padding-left: 40px;
	}

	.clients-block p {
		font-size: 14px;
		padding-left: 40px;
	}

	.dots::after {
		font-size: 80px;
		left: 300px;
		bottom: 150px;
	}

	.dots:hover:after {
		font-size: 80px;
		left: 300px;
		bottom: 150px;
	}

	.news-title h3 {
		font-size: 40px;
	}

	.img-page-news {
		width: 350px;
	}

	.border-page-news {
		width: 340px;
		height: 230px;
	}

	.blog h4 {
		font-size: 20px;
	}

	.blog p {
		font-size: 12px;
	}

	.block-sign input {
		width: 300px;
	}

	.quick-links-icons {
		display: flex;
		flex-direction: column;
	}
	
	.quick-links-icons li {
		margin-bottom: 5px;
	}

	.menu-link a {
		margin-right: 10px;
	}

	.menu-link button {
		width: 97px;
		height: 62px;
	}

}

@media (max-width: 500px) {
	.container-my {
		max-width: 90%;
		margin: 0 auto;
	}

	.menu-link button {
		width: 77px;
		height: 32px;
	}

	.menu-link a {
		margin: 10px 0;
	}

	.header-row {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.menu-link {
		display: flex;
		flex-direction: column;
		justify-content: center;

	}

	.header-logo {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 50px;
	}

	.header-modern-flex {
		display: flex;
		align-items: center;
		justify-content: center;
	}


	.header-modern h1 {
		text-align: center;
		font-size: 40px;
		line-height: 1.2;
	}

	.header-modern p {
		text-align: center;
		font-size: 14px;
	}

	.header-modern button {
		margin-bottom: 30px;
		margin-right: 50px;
	}

	.box-img1 {
		display: block;
		width: 300px;
		height: 300px;
	}

	.img-page {
	background-size: 100%;
	margin: 0 auto; 
	width: 350px;
	border-radius: 80px 0;
	
	}

	.border-page1 {
		border-radius: 80px 0;
		width: 340px;
	}
}


