@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
	font-family: 'AkzidenzGrotesk';
	src: url('fonts/AkzidenzGrotesk-Regular.eot');
	src: local('☺'), url('fonts/AkzidenzGrotesk-Regular.woff') format('woff'), url('fonts/AkzidenzGrotesk-Regular.ttf') format('truetype'), url('fonts/AkzidenzGrotesk-Regular.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
