* {
	box-sizing: border-box;

}

button:focus {
	outline: none;
}

body, html {
height: 100%;
}


.container {
	display: block;
	max-width: 85%;
	height: 100%;
	margin: 0 auto;

}

.visuallyhidden:not(:focus):not(:active) {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

ul {
margin: 0;
padding: 0;
list-style: none;
}

html {
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	line-height: 1.42;
	margin: 0;
	padding: 0;
}



												/* HEADER */


.header {
	z-index: 1;
	position: relative;
	background-color: #FFF5EC;
	min-height: 1210px;
}

.bg-red {
	position: absolute;
	right: 0;
	z-index: 0;
	background-color: #FE043C;
	width: 30%;
	height: 100%;
}

.main {
	padding-top: 20px;
	z-index: 5;
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}

.logo {
	font-size: 7.2rem;
	font-weight: 800;
	line-height: 10.8rem;
	color: #FE043C;
}

.main-link {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 60%;
}

.main-link a {
	text-decoration: none;
	font-size: 1.6rem;
	font-weight: 400;
	color: #2E266F;
	margin: 0 20px;
}

.main-link a:hover {
	color: #FE043C;
	border-bottom: 1px solid #FE043C;
	transition: ease-in-out 0.3s;
}

.link {
	list-style: none;
}

.user-min-menu {
	background: none;
	border:none;
	cursor: pointer;
	display: none;
}

.user-min-menu button {
	background: none;
	border:none;
	cursor: pointer;
}

.user-min-menu img {
	width: 40px;
	height: 40px;
	background-color: #FE043C;
	cursor: pointer;
}

.user-min-menu img:hover {
	opacity: 0.6;
}

.user-block {
	display: flex;
	align-items: center;
	z-index: 4;
}

.user-img {
	background-color: #FFFFFF;
	border-radius: 50%;
	width: 52px;
	height: 52px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.user-block a {
	display: flex;
	align-items: center;
	margin-left: 9px;
	font-size: 1.6rem;
	font-weight: 400;
	color: #FFF;
	text-decoration: none;
}

.user-block a::after {
	content: '';
	display: flex;
	align-items: center;
	background: url(../img/Vector.png)center;
	background-color: none;
	width: 10px;
	height: 5px;
	margin-left: 7px;
}

.block-menu {
	display: flex;
	justify-content: space-between;
	min-height: 100%;
}

.header-block {
	display: flex;
	flex-direction: column;
}


.header-title h3 {
	font-size: 20rem;
	font-weight: 900;
	color: #2E266F;
	opacity: 0.05;
}

.header-title h2 {
	font-size: 7.2rem;
	font-weight: 700;
	color: #2E266F;
}

.header-input {
	margin-top: 40px;
	width: 670px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    background-color: #fff;

}

.header-input input {
	 border: none;
     background: none;
     width: calc(100% - 200px);
     height: 100%;
     text-indent: 10px;

}

.input-btn {
	margin-right: 4px;
	 width: 200px;
     height: 72px;
     background: #FE043C;
     border-radius: 60px 0px 0px 0px;
     color: #fff;
     font-size: 3rem;
     display: flex;
     justify-content: center;
     align-items: center;
     border: none;
}

.input-btn:hover {
	border:2px solid #FE043C;
	color: #FE043C;
	background-color: #fff;
	transition: ease-in-out 0.3s;
}


input[placeholder] {
	padding-left: 50px;
	font-size: 1.8rem;
	font-weight: 400;
	color: #2E266F;
}

.left-btn {
	position: relative;
	left: 20px;
}

.left-btn button {
	position: absolute;
	left: -180px;
	margin-top: 180px;
	width: 260px;
	height: 65px;
	border-radius: 0px 100px 100px 0px;
	background-color: #FE043C;
	font-size: 3rem;
	font-weight: 500;
	color: #fff;
	border: none;
}

.left-btn button:hover {
	border:2px solid #FE043C;
	color: #FE043C;
	background-color: #fff;
	transition: ease-in-out 0.3s
}

.left-btn img {
	margin-right: 20px;
	margin-bottom: 5px;
}

.header-block-img {
	width: 100%;
	z-index: 6;
	position: relative;
}


.plate {
	z-index: 5;
	width: 100%;
}

.salad {
	width: 70%;
	position: absolute;
	z-index: -1;
	top: -220px;
	left: 200px;
}


										/* SOME TOP */

.some-top {
	min-height:1150px;
	padding-top: 50px;
	background-color: #FFF5EC;
}


.some-top-title {
	display: flex;
	justify-content: space-between;	
	align-items: center;

}

.some-top-title h3 {
	font-size: 4.8rem;
	font-weight: 500;
	color: #2E266F;
	line-height: 6.2rem;
	width: 45%;
	text-transform: capitalize;
}

.ver-line {
	display: block;
	width: 25px;
	height: 140px;
	background-color: #FE043C;
}

.some-top-title p {
	width: 45%;
	font-size: 1.4rem;
	font-weight: 400;
	color: #707070;
	line-height: 2.4rem;
	padding-right: 100px;
}

.food-menu {
	display: flex;
	align-items: center;
}

.food-slider {
	display: flex;
	justify-content: space-around;
	margin-top: 120px;
	width: 70%;
}


.food-pic {
 	width: 95%;
 	display: block;
 	position: relative;
}


.food-pic h4 {
	font-size: 2.4rem;
	font-weight: 700;
	color: #fff;
	margin-top: 20px;
}

.food-pic p {
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 2.4rem;
	color: #fff;
}

.food-pic span {
	font-size: 1.4rem;
	font-size: 400;
	color: #fff;
	display: flex;
	align-items: center;
}

.food-btn {
	margin-bottom: 20px;
	display: flex;
	justify-content: flex-end;
	width: 106%;
}

.food-pic button {
	font-size: 1.6rem;
	font-weight: 400;
	color: #FE043C;
	width: 30%;
	height: 58px;
	border-radius: 100px 0px 0px 100px;
	background-color: #fff;
	border:none;
}

.food-text {
	padding: 0 60px;
	height: 40%;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	bottom: 0;
	z-index: 5;
}

.food-marker img {
	margin-right: 10px;
}

.slick-arrow {
	display: none;
}

.food-pic:after {
	content: "";
	display: block;    
	width: 96%;
	height: 40%;    
	position: absolute;
	bottom: 0;      
	left: 0;   
	background: transparent;
	background-color: #FE043C;
	border-radius: 0px 0px 20px 20px;
	opacity: 0.5;
}

.slick-list {
	width: 100%;
}

.slider-btn {
	position: relative;
	width: 40px;
	height: 40px;
	background: url(../img/ChevronRight.png) center;
	background-repeat: no-repeat;
	background-color: #FE043C;
	border-radius: 50%;
	margin-top: 150px;
	margin-left: 100px;
	border:none;
}

.slider-btn::before {
	content: '';
	position: absolute;
	left:-60px;
	display: flex;
	width: 72px;
	height: 3px;
	background-color: #FE043C;
}



										/* BOOKING */


.booking {
	position: relative;
	min-height:1090px;
	background-color: #FFEDDE;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.booking-block {
	background-color: #fff;
	width: 1230px;
	height: 560px;
}

.booking-line {
	width: 230px;
	height: 15px;
	background-color: #FE043C;
}

.booking-block h2 {
	font-size: 3.6rem;
	font-weight: 500;
	color: #2E266F;
}

.booking-block {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 100px 0;
}

.booking-block button {
	border-radius: 0;
	width: 128px;
}

.time-block {
	width: 100%;
	display: flex;
	justify-content: center;
}

.block-date {
	margin: 0 50px;
}

.block-date h3 {
	font-size: 1.6rem;
	font-weight: 400;
	color: #2E266F;
	line-height: 3rem;
}

.block-date p {
	font-size: 1.6rem;
	font-weight: 400;
	color: #2E266F;
	opacity: 0.6;
}


.booking-block input {
	width: 545px;
}

.booking-salad {
	z-index: 10;
}

.booking-salad img {
	width: 52%;
	position: absolute;
	left: -400px;
	top: -130px;
}

.booking-salad2 {
	position: absolute;
	right: 0;
}


								/* OUR SERVICE */


.our-service {
	min-height: 1100px;
	padding: 150px 0;
	background-color: #FFF5EC;
}

.our-service-title {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.our-service-title h2 {
	font-size: 4.8rem;
	font-weight: 500;
	color: #2E266F;
	line-height: 6.2rem;
	width: 45%;
	text-transform: capitalize;
}

.our-service-title p {
	width: 45%;
	font-size: 1.4rem;
	font-weight: 400;
	color: #707070;
	line-height: 2.4rem;
	padding-right: 100px;
}

.our-service-main {
	display: flex;
	margin-top: 290px;
	align-items: center;
	justify-content: space-between;
}

.service-block {
	width: 100%;
}

.service-text {
	display: flex;
	align-items: center;
}

.our-service-main h3 {
	font-size: 2.4rem;
	font-weight: 500;
	color: #2E266F;
	line-height: 3.2rem;
	text-transform: capitalize;
}

.our-service-main p {
	font-size: 1.4rem;
	font-weight: 400;
	color: #707070;
	line-height: 2.4rem;
	text-transform: capitalize;
}

.service-desc h3 {
	position: relative;
}

.arrow-left::before {
	content: '';
	position: absolute;
	top: 42px;
	left: -190px;
	display: block;
	width: 182px;
	height: 15px;
	background: url(../img/Arrowleft.png);
}

.arrow-left::after {
	content: '';
	position: absolute;
	top: 48px;
	left: 110px;
	display: block;
	width: 84px;
	height: 3px;
	background: #FE043C;
	
}

.arrow-right::after {
	content: '';
	position: absolute;
	top: 42px;
	left: 220px;
	display: block;
	width: 267px;
	height: 15px;
	background: url(../img/Arrowright.png);
}

.arrow-right::before {
	content: '';
	position: absolute;
	top: 48px;
	left: 0px;
	display: block;
	width: 84px;
	height: 3px;
	background: #FE043C;
}


.service-desc span {
	margin-left: 105px;
}

.service-img {
	background-color: #FFEDDE;
	width: 40%;
	height: 380px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.service-block2 {
	
}

.service-desc2 {
	width: 670px;
	height: 758px;
	background-color: #FFEDDE;
	display: flex;
	align-items: center;
	justify-content:center;
	flex-direction: column;
}

.service-line {
	width: 192px;
	height: 3px;
	background-color: #FE043C;
}

.service-desc {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.left-desc-block {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}



.service-desc2 img {
	margin-bottom: 90px;
}

.service-desc2 h3 {
	margin-bottom: 20px;
}

.service-desc2 p {
	margin-bottom: 20px;
}


									/* EXPLORE */


.explore {
	background-color: #FFF5EC;
	min-height: 1450px;
}

.explore h2 {
	font-size: 4.8rem;
	line-height: 6.2rem;
	font-weight: 500;
	color: #2E266F;
	margin-bottom: 30px;
}

.explore p {
	font-size: 1.4rem;
	line-height: 2.4rem;
	font-weight: 400;
	width: 40%;
	text-align: center;
}

.explore-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.explore-menu {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 60px;
}

.explore-blocks {
	margin : 30px 15px;
	width: 30%;
	background-color:#fff;
	box-shadow: 0px 4px 4px rgba(235, 241, 245, 0.5);
	border-radius: 25px;

	
}

.explore-blocks img {
	display: block;
	max-width:100%;
	height:auto;

}

.explore-blocks h3 {
	display: flex;
	justify-content: space-between;
	margin: 30px 30px 20px;
	font-size: 2.4rem;
	line-height: 3.2rem;
	font-weight: 500;
	color: #2E266F;
}

.explore-blocks strong {
	color: #FE043C;
	font-weight: 700;
}

.explore-blocks p {
	font-size: 1.4rem;
	line-height: 2.4rem;
	font-weight: 400;
	color: #707070;
	width: 70%;
	margin-left: 30px;
	text-align: left;
	margin-bottom: 30px;
}

						/* DOWNLOAD */

.download {
	min-height:1090px;
	width: 100%;
	background: url(../img/salad2.png) center no-repeat;
	background-color: #FFEDDE;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.load-text {
	width: 30%;
}

.load-text h2 {
    	font-size: 4.8rem;
    	line-height: 6.2rem;
    	font-weight: 500;
    	color: #2E266F;
    	position: relative;
    	margin-bottom: 30px;
}

.load-text h2::before {
	content: '';
	display: block;
	background-color: #FE043C;
	width: 25px;
	height: 140px;
	position: absolute;
	left: -70px;
}

.load-text p {
     	font-size: 1.4rem;
     	line-height: 2.4rem;
     	font-weight: 400;
     	color: #707070;
     	margin-bottom: 30px;
     	text-transform: capitalize;
}

.btn-block {
	display: flex;
	justify-content: flex-start;
}

.apple {
	margin-left: 20px;
}

.btn-block button {
	background-color: #000;
	width: 178px;
	height: 49px;
	border:none;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn-block p {
	color: #fff;
	font-size: 1.2rem;	
	font-weight: 400;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: flex-start;
	padding-left: 20px;
	margin-bottom: 0;
	text-transform: capitalize;
}

.btn-block strong {
	font-size: 1.4rem;
	font-weight: 700;
}

.load-phone {
	position: relative;
	width: 50%;
}


.display {
	position: absolute;
	left:180px;
	top:70px;
}


									/* FOOTER */

.footer {
	min-height: 946px;
	background: url(../img/plant.png)left no-repeat;
	background-color: #FFF5EC;
}

.footer .wrapper {
	padding-top: 270px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer-text {
	width: 40%;
}

.footer-text ul {
	margin: 0 auto;
}


.footer-text h3 {
	font-size: 3.6rem;
	line-height: 4.8rem;
	font-weight: 400;
	color: #2E266F;
	text-align: center;
	margin-bottom: 30px;
}

.footer-text p {
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 2.4rem;
	text-align: center;
	margin-bottom: 60px;
	color: #707070;
}

.footer .header-input {
	box-shadow: 2px 2px 30px 2px #FFF5EC;
	border-radius: 100px;
	margin-bottom: 60px;
}



.footer-text button {
	width: 56px;
	height: 56px;
	border-radius: 50%;
}

.footer .main-link {
	width: 100%;
	justify-content: center;
}